<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seda.shoppingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shopping"
        android:label=" "
        android:roundIcon="@mipmap/shopping"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activies.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activies.MainActivity2"
            android:exported="false" />

        <activity
            android:name=".activies.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activies.MainActivity"
            android:exported="false" />
    </application>

</manifest>